<html>
    <head>
        <title>Radio Bot</title>
        <script src="lib/angular/angular.min.js"></script>
        <script src="lib/jquery/dist/jquery.min.js"></script>
        <script src="lib/CornerCouch/angular-cornercouch.js"></script>
        <script src="compiled/radiobot.js"></script>
    </head>
    <body ng-app="radiobot">
        <h1> BYNG RADIO </h1>
        <div id="admin" ng-controller="AdminCtrl">
            <ol>
                <li ng-repeat="track in tracks">
                    {{ track | json }}
                </li>
            </ol>
            <form ng-submit="addTrack()">
                <input type="text" ng-model="newtrack" />
                <button type="submit">Add track</button>
                Type: {{ classifyurl(newtrack) }} ID: {{ extractid(newtrack) }} Title: {{ videotitle }}
            </form>
        </div>
    </body>
</html>
